.diagramWrapper {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    position: relative;
    border: 1px solid #666;
    min-height: 250px;
}

.absInput {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.absInput input {
    width: 45px;
    text-align: center;
    border: 1px solid #000;
    background-color: #fff;
    padding: 2px;
    font-size: 0.8rem;
}

.unitText {
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 0.8rem;
}